* {
  font-family: Arial;
  color: black;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-color: black;
  background-image: url('backgroundAll.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /*Setting a specific height */
  min-height: 720px;

  /* Creating the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#navArea {
  width: 100%;
  height: 50px;
  position: fixed;
}

#navbar {
  list-style: none;
  padding-right: 180px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.28);
  position: fixed;
  width: 100%;
  top: 0%;
  height: 10%;
  z-index: 1
}

#navbar a{
  float: right;
  display: block;
  text-align: center;
  padding: 14px 16px;
  font-size: 25px;
  color: white;
  text-decoration: none;
  outline: none;
  color: white; font-family: 'Droid Serif', serif; font-size: 25px;
  font-weight: 400;
  font-style: italic;
  line-height: 44px;
  margin: 0 0 12px;
}

#navbar a:hover {
  color: rgb(153, 51, 0);
  font-size: 25px;
}

#navbar a.active {
  background-color: black;
  color: brown;
}

#header {
  width: auto;
  background-color: black;
  height: 10%;
}

#main1 {
  width: 100%;
  height: 100%;
  background-image: url('mahallah uthman.jpg');

  /* Setting a specific height */
  min-height: 900px;
  max-height: 900px;

  /*Creating the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#submain1 {
  border-style:solid;
  border-width:10px;
  border-color:rgba(0,0,2,0.4);
  background-color: rgba(0,0,2,0.6);
  font-size: large;
  font-style: italic;
  text-align: center;
  position: absolute;
  margin-top: 240px;
  margin-left: 500px;
  margin-right: 500px;

  color: white;
  text-shadow: 3px white;
  text-shadow: 1px 1px 0 white,
              -1px 1px 0 white,
               1px -1px 0 white,
              -1px -1px 0 white,
               0px 1px 0 white,
               0px -1px 0 white,
              -1px 0px 0 white,
               1px 0px 0 white,
               2px 2px 0 white,
              -2px 2px 0 white,
               2px -2px 0 white,
              -2px -2px 0 white,
               0px 2px 0 white,
               0px -2px 0 white,
              -2px 0px 0 white,
               2px 0px 0 white,
               1px 2px 0 white,
              -1px 2px 0 white,
               1px -2px 0 white,
              -1px -2px 0 white,
               2px 1px 0 white,
              -2px 1px 0 white,
               2px -1px 0 white,
              -2px -1px 0 white;
}

#button1 {
  list-style: none;
}

#button1 a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Droid serif', serif;
  font-weight: 400;
  font-style: italic;
  line-height: 44px;
  margin: 0 0 12px;
}

#button1 li {
  float: left;
  margin-left: 400px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 15px;
  border: 2px solid white;
  border-radius: 15px;
  margin-top: 500px;

  color: black;
  text-shadow: 3px white;
  text-shadow: 1px 1px 0 white,
              -1px 1px 0 white,
               1px -1px 0 white,
              -1px -1px 0 white,
               0px 1px 0 white,
               0px -1px 0 white,
              -1px 0px 0 white,
               1px 0px 0 white,
               2px 2px 0 white,
              -2px 2px 0 white,
               2px -2px 0 white,
              -2px -2px 0 white,
               0px 2px 0 white,
               0px -2px 0 white,
              -2px 0px 0 white,
               2px 0px 0 white,
               1px 2px 0 white,
              -1px 2px 0 white,
               1px -2px 0 white,
              -1px -2px 0 white,
               2px 1px 0 white,
              -2px 1px 0 white,
               2px -1px 0 white,
              -2px -1px 0 white;
}

#button1 li:hover {
  background-color: rgb(155, 50, 0);
}

#main2 {
  text-align: center;
  width: 100%;
  min-height: 900px;
  max-height: 900px;
}
#gap{
  margin-top: 25px;
}

.row1{
  font-size: large;
  font-style: italic;
  text-align: center;
  color: white;
}
.image {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius: 50px;
  margin-top: 50px;
  margin: auto;
  padding: 5px;
}

#food1{
  float: left;
  width: 45%;
  padding: 20px;
  font-size: 200%;
}

#food2{
  float:right;
  width: 45%;
  padding: 20px;
  font-size: 200%;
}

.ui-widget-content {
  background: rgba(255, 255, 255, 0.4);
}

.ui-accordion-header {
  background: rgba(185, 165, 49, 0.72);
}

#footer {
  background-color: rgba(0, 0, 0, 0.48);
  display: inline-flex;
  width: 100%;
  height: auto;
  color: grey;
  font-family: 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 25px;
  text-indent: 30px;
  margin: 0;
}

#footer p {
  color: grey;
}

.a1 {
  margin: 10px 100px 10px 450px;
}
